*.DS_Store
*~
*RData
*Rhistory

turkstudy1
turkstudy2
turkstudy3
turktangramsdata.csv

similar1
similar2
similar3
similar4
similar5
similar6
similar7
similar8
similar9
similar10
similar11
similar12
similar13
